// © 2022 - 2024 REVATI

$primary-color: #154c83;
$primary-color-darker: #0d2e51;
$primary-color-darker-2: #021222;
$primary-color-pale: #98c0e7;
$primary-color-pale-darker: #375d81;
$secondary-color: #111111;
