// © 2022 REVATI

.arrows {
	position: relative;
	top: 232px;
	right: 44px;
}

.arrow {
	position: absolute;
	background: none;
	border: none;
	cursor: pointer;
	opacity: 0.7;
	z-index: 1;

	// 1090px(threshold) * 0.28 - 233px = 72px
	$arrow-margin: min(28vw - 233px, 72px);

	&:nth-child(1) {
		left: calc($arrow-margin * -1);
	}

	&:nth-child(2) {
		$arrow-width: 94px;
		right: calc(($arrow-margin + $arrow-width) * -1);
	}

	&.inactive {
		cursor: default;
	}
}

.back-arrow {
	padding-left: 26px;
	transform: translateY(-1.5px);
}

.forward-arrow {
	padding: 0 15px;
}

.articles {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin-top: -10px;
	margin-bottom: 4px;
	height: 630px;
	overflow: hidden;
}

.show-all {
	height: auto;
}

.article {
	display: inline-block;
	margin: 0 17px;
	list-style: none;
}

.indicators {
	display: flex;
	list-style: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 32px;
	justify-content: center;
}

.indicator {
	background: none;
	border: none;
	padding: 7px;
	margin: 1px;
	cursor: pointer;
	opacity: 0.3;
	transition: 0.2s;

	&.active {
		opacity: 1;
	}

	&::before {
		content: '';
		display: inline-block;
		$size: 13px;
		width: $size;
		height: $size;
		border-radius: 50%;
		background-color: white;
	}
}
