/* © 2022 - 2024 REVATI */

@font-face {
	font-family: 'Zen Kaku Gothic Antique';
	src: url('../fonts/Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Regular.ttf');
}

@font-face {
	font-family: 'Zen Kaku Gothic Antique Bold';
	src: url('/fonts/Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Bold.ttf');
}

* {
	/* ($primary-color-darker) */
	scrollbar-color: #0d2e51 transparent;
}

html {
	scroll-behavior: smooth;
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

body {
	color: #eeeeee;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: 0;
	background: #111111;
	overflow-x: hidden;
}

::selection {
	background: #154c83;
	color: black;
}

a {
	color: #17d8d8;
	text-decoration: underline;
	transition: 0.2s;
}

a:hover {
	color: #7effb4;
}

a:active {
	color: #e6ff9a;
}
