// © 2022 - 2023 REVATI

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 0 42px 0;
    min-height: 50vh;
}

li {
    position: absolute;
    margin: 0 auto;
    padding: 4px;

    a {
        text-decoration: none;
        color: white;
        display: block;
        max-width: 753px;
        margin: 0 auto;
    }

    img {
        box-shadow: 0 0 12px black;
        user-select: none;
        pointer-events: none;
        border-radius: 6px;
    }

    h1 {
        font-size: 32px;
    }
}

li:not(.middle-item) {
    opacity: 0.2;

    img {
        width: 380px;
    }

    h1 {
        display: none;
    }
}

.middle-item {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 92%;
    z-index: 1;

    img {
        max-width: 753px;
        object-fit: cover;
        width: 100%;
        transition: 0.4s ease-out;
    }

    a:hover img {
        transform: translateY(-8px) scale(1.01);
        box-shadow: 0 12px 28px black;
    }
}

.left-item {
    transform: translateX(-390px) translateY(86px);
}

.right-item {
    transform: translateX(773px) translateY(86px);
}

.hidden {
    display: none;
}

.arrow {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    font-family: monospace;
    font-size: 48px;
    font-weight: 900;
    user-select: none;
    background-color: #00000080;
    border: none;
    color: white;
    z-index: 30;
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s;
}

#arrow-left {
    transform: translateY(144px) translateX(-338px);
}

#arrow-right {
    transform: translateY(144px) translateX(338px);
}

@media screen and (max-width: 750px) {
    .arrow {
        font-size: 28px;
        padding: 10px 18px;
    }

    #arrow-left {
        transform: translateY(18vw) translateX(-42vw);
    }

    #arrow-right {
        transform: translateY(18vw) translateX(42vw);
    }
}

.arrow:hover {
    background-color: #000000d0;
}

.arrow.inactive {
    opacity: 0.3;
    background: none;
    cursor: default;
}

h2 {
    font-size: 20px;
    font-weight:100;
    color: #949494;

    .split-line {
        margin: 0 1em;
        font-weight: 800;
        color: #e6e6e6;
    }
}
