/* © 2022 - 2023 REVATI */

::selection {
	background: #d1ff46;
	color: black;
}

/* ▼ footer ▼ */

footer {
	height: 24vh;
	background-color: #0a0a0a;
}

.copyright {
	margin-top: 2em;
}

/* ▲ footer ▲ */
