// © 2022 REVATI

// Features
.no-pointer-events {
	pointer-events: none;
	user-select: none;
}

.invisible {
	opacity: 0 !important;
}

/* Prevent scrolling */
body.prevent-scroll {
	overflow: hidden;
}
