// © 2022 - 2024 REVATI

// Features
.no-pointer-events {
	pointer-events: none;
	user-select: none;
}

.shake {
	animation: shake 0.2s ease-in-out infinite;
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(5px);
	}

	100% {
		transform: translateX(0);
	}
}

.invisible {
	opacity: 0 !important;
}

/* Prevent scrolling */
body.prevent-scroll {
	overflow: hidden;
}
