/* © 2022 REVATI */

/* Background colorings */
.bg-default {
    /* background-color: #191919; */
    background-color: #000000;
}

/* Features */
.no-pointer-events {
    pointer-events: none;
    user-select: none;
}

.fade-in-bottom {
    animation: fadeInDown 1.6s ease-out;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-64px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-right {
    animation: fadeInRight 1.6s ease-out;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(64px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.shake {
    animation: shake .2s ease-in-out infinite;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}